.form {
  &__group:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__input {
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    padding: 0.5rem 1rem;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 5px solid transparent;
    width: 90%;
    display: block;

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
      border-bottom: 5px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 5px solid $color-secondary-dark;
    }
  }

  &__label {
    font-size: 0.7rem;
    font-weight: 700;
    margin-left: 1.3rem;
    display: block;
    margin-top: 0.3rem;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
  }

  &__radio-group {
    width: 40%;
    display: inline-block;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 2.8rem;
  }

  &__radio-input {
    display: none;
  }

  &__radio-button {
    height: 1.7rem;
    width: 1.7rem;
    border: 4px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0px;

    &::after {
      content: "";
      display: block;
      height: 0.7rem;
      width: 0.7rem;

      border-radius: 50%;
      position: absolute;
      top: 4.8px;
      left: 4.8px;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: all 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}


.heading-secondary{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition:all .2s;
  
    &:hover{
        transform:skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
  }